body{
    transition: background-color 1s,color 1s;
}
section{
    max-width: 500px;
    margin: 50px auto;
    border-radius: 10px;
    color: #ffffff;
    background-color:aqua;
}
form{
    display: flex;
    flex-direction: column;
    padding: 50px;
 }
 input{
    margin-bottom: 10px;
 }
 button{
    margin-top: 10px;
 }
 label{
    color: black;
 }
 .dark-mode{
    background-color: black;
    color: white;

}